## enumerate:
- 순서가 있는 자료형(list, set, tuple, dictionary, string)을 입력으로 받았을 때, index와 값을 포함하여 return
- for 문과 함께 자주 사용됨
- 인덱스와 값을 동시에 접근하면서 루프를 돌리고 싶을때 사용

### 예제 1 : how to use enumerate() inner function
enuemrate 함수를 사용한 후 리스트로 바꾸니 각 요소의 인덱스값 리스트 쌍이 나옴.

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
print(fruits)

print(list(enumerate(fruits)))

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
[(0, 'orange'), (1, 'apple'), (2, 'pear'), (3, 'banana'), (4, 'kiwi'), (5, 'apple'), (6, 'banana')]


### 예제 2 : enumerate()의 매개변수
enuemrate() 의 매개변수 안에 리스트값이 담긴 변수를 넣어도 되고, 아예 리스트를 집어넣어도 가능.

In [2]:
for i, value in enumerate(['kim', 'lee', 'park', 'choi']):
    print(i, value, end = " ")

0 kim 1 lee 2 park 3 choi

### 예제 3 : start = n
start를 따로 설정하지 않으면 index = 0부터 시작하지만 strat = n을 설정 해주면 n부터 인덱스가 설정됨.

In [3]:
print("")
for i, value in enumerate(['kim', 'lee', 'park', 'choi'], start = 1):
    print(i, value, end = " ")

1 kim 2 lee 3 park 4 choi

### 예제 4 : enumerate() 안에서 input사용
print(list(enumerate(input().split())))

입력: zero one two three four  
결과: [(0, 'zero'), (1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]